@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Overpass-Regular";
  src: url("../public/fonts/Overpass/Overpass-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Overpass-Semibold";
  src: url("../public/fonts/Overpass/Overpass-SemiBold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../public/fonts/Poppins/Poppins-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Poppins-Light";
  src: url("../public/fonts/Poppins/Poppins-Light.ttf");
  font-display: swap;
}

body {
  background-color: #f8f7f7;
  color: #030408;
}
/* ARROW ANIMATION */
.hover-arrow {
  transition: 250ms all ease;
}

button {
  transition: 150ms all ease;
}
